.navbar{
  background-color: #24A69C !important;
  color: #fff;
}
.caja{
  background-color:  rgb(0, 121, 107);
  height: 100vh;
}
.login-box{
  padding-top:10%;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
h1{
  color:#fff;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom:20px;
}
.ingreso{
  background:rgba(38, 166, 154,0.4);
  margin:0 auto;
  width: 358px;
  padding: 53px;
  text-align:center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
       border-radius: 10px;
  -webkit-box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
  -moz-box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
        box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
}
.main-form {
  display:block;
  width:250px;
  margin-bottom:15px;
  padding:13px;
  outline:none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border:none;
  background:rgba(225, 225, 225, 0.1);
  font:1.1em 'Ubuntu';
  color:#fff;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.main-form:focus {
  background:rgba(38, 166, 154,0.4);;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color:#fff;

}
::placeholder{
  font-size:1em;
  color: #fff;
}
button {
  background-color: #F08A24;
  color:#fff;
}
button:active {
  box-shadow:inset 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.errorBox{
  display: -webkit-inline-box;
  width: 422px;
  background: #F08A23;
  padding: 20px;
  border: 1px solid #FFFFFF;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.warning{
  background-color: #F08A23;
  border-color: #de770f;
  color: #FFFFFF;
}
.forgotPass{
  text-decoration-line: underline;
  color:#fff;
  font-size: 0.9em;
  opacity: 0.4;
  margin-top: 10%;
  margin-bottom: -11%;
  cursor: pointer;
}
.modal-header{
  border-bottom: none;
  background-color: #24A69C !important;
  color: #fff;
}
.modal-title{
  margin: 0 auto;
  font-size: 2rem;
}
button.close.cerrar_modal{
  margin-left: -20px;
}
.errorText{
  position: relative;
  color:#fff;
  padding-left: 35%;
}