<div class="container-fluid caja" >
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
	<div class="login-box">
	  <h1>Accesos</h1>
	  <section class="ingreso">
			<input required class="main-form" (keyup.enter)="Inicio()" type="text" name="loginUsuario" [(ngModel)]="loginUsuario" placeholder="Usuario">
			<input required class="main-form" (keyup.enter)="Inicio()" type="password"  name="loginPassword" [(ngModel)]="loginPassword" placeholder="Contraseña">
			<button class="btn btn-block"(click)="Inicio()" >Iniciar Sesión</button>
	  </section>
	</div>
	<div *ngIf="errorLog">
		<div class="row text-center">
				<div class="text-center errorBox warning">
				<p>{{errorLog}}</p>
			</div>

		</div>
	</div>
</div>
