<div class="caja" >
	<div class="login-box">
	  <h1>Accesos</h1>
	  <section class="ingreso">
			<input required class="main-form" type="text" name="loginUsuario" [(ngModel)]="loginUsuario" placeholder="Usuario">
			<input required class="main-form" type="password"  name="loginPassword" [(ngModel)]="loginPassword" placeholder="Contraseña">
			<button class="btn btn-block"(click)="Inicio()">Iniciar Sesión</button>
	  </section>
	</div>
	<div class="container " ng-if="isLogged=false">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>{{errorLog}}</p>
			</div>
		</div>
	</div>
</div>
