<div class="container mt-4">

  <div class="row ">
    <div class="col">
      <div class="form-inline justify-content-between">
          <button type="button" class="btn btn_naranja" data-toggle="modal" data-target="#modalCrearUsuario"><i class="fas fa-user-plus"></i> Crear Usuario</button>
          <div class="input-group">
              <input type="text" class="form-control input_ingreseUsuario" placeholder="Ingrese el nombre del usuario" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div> 
          </div>  
      </div>
    </div>
  </div>
  
  <!-- Modal Crear Usuario-->
  <div class="modal fade bd-example-modal-lg" id="modalCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
          <button type="button" class="close cerrar_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- body -->
        <div class="modal-body">
          <p class="text-center">Ingrese todos los campos para crear un nuevo usuario</p> 

          <div class="col-md-10 offset-md-1">
            <form>
              <div class="form-row">
                <div class="form-group col-md 6">
                  <label for="inputUser">Nombre usuario</label>
                  <input type="text" class="form-control" id="inputUser" placeholder="Usuario" [(ngModel)]="nuevoUsuario" name="nuevoUsuario">
                </div>
                <div class="form-group col-md 6">
                  <label for="inputRun">RUN usuario</label>
                  <input type="text" class="form-control" id="inputRun" placeholder="12.345.678-k" [(ngModel)]="nuevoUsuarioRun" name="nuevoUsuarioRun">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputNombre">Nombre</label>
                  <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" [(ngModel)]="nuevoUsuarioNombre" name="nuevoUsuarioNombre">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputApellidos">Apellidos</label>
                  <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos" [(ngModel)]="nuevoUsuarioApellidos" name="nuevoUsuarioApellidos">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail">Correo</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="ejemplo@email.com" [(ngModel)]="nuevoUsuarioCorreo" name="nuevoUsuarioCorreo">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="telefono1">Teléfono de contacto 1</label>
                  <input type="tel" class="form-control" id="telefono1" placeholder="Teléfono 1" [(ngModel)]="nuevoUsuarioTelefono1" name="nuevoUsuarioTelefono1">
                </div>
                <div class="form-group col-md-6">
                  <label for="telefono2">Teléfono de contacto 2</label>
                  <input type="tel" class="form-control" id="telefono2" placeholder="Teléfono 2" [(ngModel)]="nuevoUsuarioTelefono2" name="nuevoUsuarioTelefono2">
                </div>
              </div>

              <div class="form-group">
                <label for="inputAddress2">Entidad contratante</label>
              
                <select class="custom-select" class="form-control" id="inputAddress2" [(ngModel)]="nuevoUsuarioEntidad" name="nuevoUsuarioEntidad">
                  <option value="">Entidad contratante</option>
                  <option value="Entidad 1">Entidad 1</option>
                  <option value="Entidad 2">Entidad 2</option>
                  <option value="Entidad 3">Entidad 3</option>
                </select>
              </div>

              <div class="form-group">
                <label for="inputRol">Seleccione rol del usuario</label>
              
                <select class="custom-select" class="form-control" id="inputRol" [(ngModel)]="nuevoUsuarioRol" name="nuevoUsuarioRol">
                    <option value="">Seleccione rol del usuario</option>
                    <option value="Admin">Admin</option>
                    <option value="Usuario">Usuario</option>
                  </select>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="contrasena1">Contraseña</label>
                  <input type="password" class="form-control" id="contrasena1" placeholder="Contraseña" [(ngModel)]="nuevoUsuarioContrasena1" name="nuevoUsuarioContrasena1">
                </div>
                <div class="form-group col-md-6">
                  <label for="contrasena2">Repita la contraseña</label>
                  <input type="password" class="form-control" id="contrasena2" placeholder="Repetir contraseña" [(ngModel)]="nuevoUsuarioContrasena2" name="nuevoUsuarioContrasena2">
                </div>
              </div>
              
            </form>
          </div>
        </div>
        <!-- footer -->
        
        <div class="col-md-10 offset-md-1 mb-1">
          <div class="modal-footer">
            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-block btn_naranja" (click)="guargarUsuario()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Modal Eliminar Usuario-->
  <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h5>
          <button type="button" class="close cerrar_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center">¿Estás seguro de eliminar este usuario?</p>
          <p class="text-center">Al eliminar este usuario dejará de existir y no podrás visualizar sus datos en el futuro.</p>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_naranja"(click)="deleteUser()" data-dismiss="deleteUser">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal Activar/desactivar Usuario-->
  <div class="modal fade" id="activeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Desactivar Usuario</h5>
          <button type="button" class="close cerrar_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p class="text-center">¿Estás seguro de desactivar este usuario?</p>
          <p class="text-center">Al desactivar un usuario este dejará realizar acciones en el futuro.</p>
        </div>

        <div class="modal-footer text-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn_naranja"(click)="activeUser()" data-dismiss="activeUser">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  
    <!-- table usuarios-->
  <div *ngIf="!listaUsuarios">
    <div class="text-center">
        Aún no hay usuarios creados
    </div> 
  </div>
  <div *ngIf="listaUsuarios">
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <th scope="row">{{usuario.AutentificacionUsuario.NombreUsuario}}</th>
            <td>{{usuario.Persona.Nombres}} {{usuario.Persona.ApellidoPaterno}} {{usuario.Persona.ApellidoMaterno}}</td>
            <td>{{usuario.Persona.CorreoElectronico}}</td>
            <td>{{usuario.Rol.Nombre}}</td>
            <td *ngIf="usuario.Rol.Activo == 1">Activo</td>
            <td *ngIf="usuario.Rol.Activo == 0">Inactivo</td>
            <td>
              <i class="fas fa-edit fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" title="Editar usuario"></i>
              <i class="fas fa-eye fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" title="Ver usuario"></i>
              <i class="far fa-check-circle fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" data-target="#activeUser" title="Desactivar/Activar usuario"></i>
              <i class="far fa-trash-alt fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" data-target="#deleteUser" title="Eliminar usuario"></i>
            </td>
          </tr>
          </tbody>
    </table>
    <i class="fas fa-edit fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" title="Editar usuario"></i>
    <i class="fas fa-eye fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" title="Ver usuario"></i>
    <i class="far fa-check-circle fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" data-target="#activeUser" title="Desactivar/Activar usuario"></i>
    <i class="far fa-trash-alt fa-lg iconos_editar" data-toggle="modal" data-placement="bottom" data-target="#deleteUser" title="Eliminar usuario"></i>

  </div>

</div>


