<nav class="navbar bg-light ">
  
  <a class="navbar-brand">
      <img src="/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      <span class="text-white">Salud<span class="span_grande">TI</span>ntegra</span>
    </a>
  <div class="form-inline float-right">
    <span class="span_fecha"> {{fecha_actual}}</span>
    <button class="btn_buscar btn-sm btn my-2 my-sm-0" type="button" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-search"></i> Buscar Paciente
    </button>
    <div class="nav-item dropdown">
      <span class="icon_navBar nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{usuarioUser}} <i class=" fas fa-user-circle fa-lg"></i>
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="verConfigUsuario()"><i class="fas fa-cog"></i> {{nombreCompleto}}</a>
        <a class="dropdown-item sin_hover"><i class="far fa-hospital"></i> {{nombreEntidadContratante}}</a>
        <a *ngIf="rolUsuario != 'Usuario Establecimiento'" class="dropdown-item" (click)="abrirMantenedorUsuario()"><i class="fas fa-user-plus"></i> Mantenedor de usuario</a>
        <a class="dropdown-item" (click)="logout()"><i class="far fa-times-circle"></i> Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '12px' }"></ngx-loading> 

<!-- Modal Buscar Paciente-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Paciente</h5>
          <button type="button" class="close cerrar_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Ingrese el RUN del paciente (Sin puntos ni guión)</p>
          <input type="text" [(ngModel)]="rutBuscar" class="form-control" formatRut name="rut" maxlength="9" placeholder="IngreseRUN">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-block btn_buscar" (click)="buscarRun()">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="verMantenedorUsuario" class="animated fadeIn fast">
     <app-visualizar-usuarios></app-visualizar-usuarios>
  </div>

  <div *ngIf="verVisor" class="animated fadeIn fast">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe [src]="urlVisor" frameborder="0" allowfullscreen="" scrolling="yes" style="overflow: hidden; width: 100%; overflow-x: hidden; overflow-y: scroll"></iframe>
       
      </div>   
  </div>

  <div  *ngIf="verMantenedorUsuario == false && verVisor == false">
    <div class="container mt-5">
      <div class="row animated fadeIn fast">
        <div class="col text-center" id="col_cambiarContrasena">
            <i class="far fa-address-card fa-6x mb-3"></i>
            <p>Hola <strong>{{nombreCompleto}}</strong></p>
            <p>Tu rol en <strong>{{nombreEntidadContratante}}</strong> es de <strong>{{rolUsuario}}</strong></p> 
            <p>Con este rol puedes:</p>
            <p *ngIf="rolUsuario != 'Usuario Establecimiento'"><i class="fas fa-check-circle"></i> Crear usuarios nuevos.</p>
            <p *ngIf="rolUsuario != 'Usuario Establecimiento'"><i class="fas fa-check-circle"></i> Editar datos de usuarios creados.</p>
            <p><i class="fas fa-check-circle"></i> Visualizar registros clínicos de pacientes.</p>   
            <button class="btn btn_buscar mt-3" data-toggle="collapse" (click)="mostrarContrasena()" data-target="#cambiarContrasena">Cambiar Contraseña</button>
        </div>
        <div class="col collapse mt-5" id="cambiarContrasena">
            <form>
              <h4>Introduce tu nueva contraseña personal</h4>
              <small><p class="font-italic">Una vez realizado el cambio de contraseña, serás redireccionado a la página de login</p></small>
              
              <div class="form-group mt-4">
                <label for="exampleInputPassword1">Contraseña nueva</label>
                <input [(ngModel)]="cambioContrasena1" name="cambioContrasena1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Introducir contraseña">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword2">Repita la contraseña</label>
                <input [(ngModel)]="cambioContrasena2" name="cambioContrasena2" type="password" class="form-control" id="exampleInputPassword2" placeholder="Repetir contraseña">
              </div>
              <button (click)="cambiarContrasena()" type="button" class="btn btn_buscar right">Confirmar</button>
            </form>
             
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- <div class="col-md-8 offset-md-2 text-center"> -->
